<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ionic Seed</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="js/ionic.js"></script>
    <script src="js/angular/angular.js"></script>
    <script src="js/angular/angular-animate.js"></script>
    <script src="js/angular/angular-route.js"></script>
    <script src="js/angular/angular-touch.js"></script>
    <script src="js/angular/angular-sanitize.js"></script>
    <script src="js/ionic-angular.js"></script>

    <!-- cordova script -->
    <!-- <script src="cordova.js"></script> -->

    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>

  <!-- 'starter' is the name of this angular module (js/app.js)-->
  <body ng-app="premet" ng-controller="AppCtrl">
    <side-menus-premet>
      <!-- Center content -->
      <pane side-menu-content-premet>
        <header class="bar bar-header bar-stable">
          <button class="button ion-navicon-round button-clear" ng-click="toggleLeftMenu()"></button>
          <h1 class="title">PREMET</h1>
          <button class="button ion-chatbox button-clear" ng-click="toggleRightMenu()"></button>
        </header>
        <content has-header="true" class="background-profile">
          <div class="list">
            <a class="item event" href="#">
              <h2>Mads Langer solo 2. Ekstrakoncert @ VEGA...</h2>
              <p>VEGA in København<br>Friday, 27/12 2013 at 20:00</p>
            </a>
            <div class="item profile">
              <h2>SuperDuperMis2000, 26</h2>
              <div id="premet-approved" class="ion-checkmark"></div>
              <div id="premet-denied" class="ion-close"></div>
            </div><!-- .item .profile -->
            <div class="item profile item-image">
              <img src="usercontent/01.jpg">
            </div>              
            <div class="item profile item-image">
              <img src="usercontent/02.jpg">
            </div>
            <div class="item profile item-image">
              <img src="usercontent/03.jpg">
            </div>
          </div><!-- .list -->
        </content>
      </pane>

      <!-- Left menu -->
      <side-menu-premet side="left">
        <content has-header="false">
          <div class="top-menu">
            <h4><a href="#" class="nav-get-premet">Get Premet</a></h4>
            <h4><a href="#" class="nav-profile">My profile</a></h4>
            <h4><a href="#" class="nav-invite">Invite friends</a></h4>
            <h4><a href="#" class="nav-settings">Settings</a></h4>
          </div><!-- .top-menu -->
        </content>
      </side-menu-premet>
      
      <!-- Right menu -->
      <side-menu-premet side="right">
        <header class="bar bar-header bar-dark">
          <h1 class="title">Matches</h1>
        </header>
        <content has-header="true">
          <ul class="list">
              <li class="item">
                hejsemis
              </li>
              <li class="item">
                svejsemis
              </li>
              <li class="item">
                gloeggdykkermis
              </li>
              <li class="item">
                gloeggdykkermis
              </li>
            </ul>
        </content>
      </side-menu-premet>
    </side-menus-premet>
  </body>
</html>
