@import "ionic/ionic";

@import "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400";

// General layout
.scroll-content.background-profile { background-color: $positive; }
.scroll-content.background-dark { background-color: $dark; }
.item-image { padding: 0 15px 15px; }
.bar .button.button-clear { padding-left: 10px; padding-right: 10px; }
.list .item, .bar { border: none; }

// Menu
.menu { background: $dark;
	.top-menu { padding-top: 30px; }
	a { font-style: italic; text-decoration: none; display: block; padding: 20px 0 20px 50px; }
	.nav-get-premet { color: $stable; }
	.nav-profile { color: $positive; }
	.nav-invite { color: $energized-signature; }
	.nav-settings { color: $dark-subtle; }
}

// List of chats
.chats { padding-top: 30px;
	a.item { background: $dark; border: none; font-style: normal; padding: 25px;
    &:after { content: none; }
		img { float: left; height: 40px; width: 40px; border-radius: 20px; margin-right: 15px; }
  }
}
  // Chat
  .item.chat { padding: 25px 15px;
    img { height: 40px; width: 40px; border-radius: 20px; margin-right: 15px; }
    p { text-overflow: normal; white-space: normal; line-height: 21px; }
  
    &.friend {
      img { float: left; }
      p { padding-right: 40px; color: $dark-signature; }
    }
    &.me {
      img { float: right; margin-right: 0; margin-left: 15px; }
      p { text-align: right; padding-left: 40px; padding-right: 0; }
    }
  }

  // Chatevent
  .item.event.chat-event { margin: 25px 0;
    &:nth-of-type(1) { margin-top: 0; }
  }

// Custom typography adjustments
h1, h2 { font-style: italic; }
p { font-weight: 600; }

// Primary brand color colorizsensationing
.bar.bar-stable h1.title { color: $stable-signature; }

// Event colorizsensationing
.list .item.event { background-color: $energized; }
a.item.event:after { color: $energized-subtle; }
.event h2 { color: $energized-signature; }
.event p { color: $energized-subtle; }

// Profile colorizsensationing
.list .item.profile { background-color: $positive; }
a.profile.event:after { color: $positive-subtle; }
.profile h2 { color: $positive-signature; }
.profile p { color: $positive-subtle; }

// Dark colorization
.bar.bar-dark { background: #000; }
.bar.bar-dark h1.title { color: $dark-signature; }
.bar.bar-dark .button { color: #555; }
.dark { background: $dark; }
.dark h2 { color: $dark-signature; }
.dark p { color: $dark-subtle; }